#root {
    max-width: 1280px;
    margin: 10 auto;
    padding: 2rem;
    text-align: center;
    max-width: 50em;
    margin: auto;
}

#ol,
li {
    text-align: start;
}

.steps {
    background-color: #2e2e2e;
    border-radius: 3em;
    padding: 2em;
    padding-top: 0.2em;
    max-width: 30em;
    margin: auto;

    /* justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center; */
}

.logo {
    height: 12em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
